*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(46, 46, 46);
}

.butn {
  padding: 16px 32px;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  background: none;
  transition: 0.8s;
  overflow: hidden;
}

.butn:hover {
  color: #0066ff;
  border: 1px solid #0066ff;
}

.butn.dark {
  border: none;
  background: #0066ff;
  color: #fff;
}

.butn.dark:hover {
  background: none;
  color: #0066ff;
  border: 1px solid #0066ff;
}